<br/>

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Learn something today</h1>
  <hr/>
  <div class="row">
  <% @courses.each do |course| %>
    <div class="col-xs-4 col-xs-offset-0 col-lg-4 col-lg-offset-0">
      <div class="card">
        <div class="card-side">
          <h2 class="text-center">
            <%= image_tag course.image, class: 'img-fluid' %>
            <%= link_to course.title, course_path(course), class: 'card-title' %>
          </h2>
          <br/>
          <div class="row">
            <div class="col-12 text-center">
              <p><%= course.description %></p>
              <%= link_to 'More Details...', course_path(course), class: 'btn btn-primary btn-large' %>
            </div>
          </div>
        </div>
        <br class="clr" />
      </div>
    </div>
    <% end %>
  </div>
</div>