/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui
 */
.header {
  height: 100vh;
  background-color: black;

  &__image {
    background-image: image_url('home.jpg');
    background-size: cover ;
    height: 100%;
    opacity: 0.3;
    position: relative;
  }

  &__text-box {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}


.heading-primary {
  color: #eee;
  margin-bottom: 90px;
}

.heading-primary--main {
  font-size: 60px;
  font-weight: 400;
  display: block;
  letter-spacing: 12px;
}

.heading-primary--sub {
  display: block;
  font-size: 30px;
  letter-spacing: 4px;
}

.btn-home {
  text-decoration: none;
  color: #eee;
  border: 2px solid;
  border-radius: 100px;
  font-size: 16px;
  padding: 15px 40px;
  text-transform: uppercase;
  display: inline-block;
  width: 35%;
  margin-right: 48px;
  -webkit-transition: all .3s;
  -moz-transition: all 3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.btn-home:hover {
  color: #eee;
  text-decoration: none;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-green {
  text-decoration: none;
  color: #eee;
  border: 2px solid;
  border-radius: 100px;
  font-size: 16px;
  padding: 15px 40px;
  text-transform: uppercase;
  display: inline-block;
  width: 35%;
  -webkit-transition: all .3s;
  -moz-transition: all 3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.btn-green:hover {
  color: #eee;
  text-decoration: none;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.scroll-anchor a {
  position: absolute;
  bottom: -212px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.scroll-anchor a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

.scroll-anchor a span:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

// About section

.section-about {
  margin-top: -23px;
  padding: 100px 250px;
  background-color: #eee;
}

.heading-secondary {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;

}
.border-line {
    border-bottom: 2px solid;
    width: 11%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.feature-box{

  &__circle {
    position: absolute;
    top: 10px;
    left: 176px;
    bottom: 316px;
    right: 177px;
    border: 3px #888 solid;
    border-radius: 50%;
  }

  &--heading {
    font-weight: 700;
    font-size: 2rem;
  }
  &__text {
      font-size: 1.2rem;
      margin-top: 1rem;
  }

}