html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: rgba(36, 32, 33, 0.9);
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  padding-top: 100px;
}

#footer a {
  color: white;
  font-weight: 100;
}

.social a:hover {
  text-decoration: none;

}

h4{
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-list {
  margin-top: 30px;
}

.social-list {
   margin-top: 30px;
}

.social-list li {
  display: inline-block;
}